:root {
  --color-primary: #191919;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

body,
ul {
  margin: 0;
  padding: 0;
  font-weight: 800;
}

h1 {
  font-size: 50px;
  line-height: 120%;
}

h1,
h2,
.skills-list {
  font-family: "DM Serif Display", serif;
  font-weight: normal;
  margin-left: 10px;
  margin-right: 10px;
}

h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 130%;
}

h3 {
  font-family: "Quicksand", sans-serif;
  margin-top: 0;
}

h4 {
  font-style: italic;
}

img {
  max-width: 100%;
}

p {
  line-height: 150%;
}

ul li {
  list-style: none;
  margin: 10px 0;
}

/* Navigation */

nav {
  background-color: #cc8fc5;
  position: fixed;
  z-index: 1;
  width: 100%;
  font-size: 14px;
  top: 0;
}

nav ul {
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

nav ul li {
  font-weight: 800;
  display: inline-block;
  margin: 0 15px;
  padding: 0;
  text-transform: uppercase;
}

nav li a {
  text-decoration: none;
  color: black;
}

nav li a:hover {
  text-decoration: underline;
}

@media (max-width: 640px) {
  nav ul {
    padding: 15px 0;
  }
  nav ul li {
    margin: 0 5px;
  }
}

/* Header */

header {
  margin-top: 70px; /* nav height */
  /*top: 70px;
  position: relative;*/
  margin-bottom: 110px;
  background-image: url("../img/unbleached_silk.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -375px;
}

header ul {
  margin-top: 70px;
  font-weight: 800;
}

@media (max-width: 640px) {
  header {
    margin-top: 47px; /* nav height */
  }
}

/* */

.button {
  border: 1px solid #7d4600;
  text-decoration: none;
  color: #7d4600;
  padding: 10px 30px;
  display: inline-block;
  margin-top: 40px;
  border-radius: 20px;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.button:hover {
  background: #7d4600;
  color: white;
}

.intro-img {
  box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
}

.skills-list {
  text-align: center;
  font-size: 30px;
  line-height: 150%;
  margin-bottom: 110px;
  margin-top: 50px;
}

.project {
  margin: 30px 0;
  padding: 50px;
}

.project .col-sm img {
  margin-bottom: 2rem;
}

.peach {
  background-color: #f4d6cc;
}

.project .button {
  margin-top: 10px;
}

.right-alignment {
  text-align: right;
}

.pink {
  color: #cc8fc5;
}

.pink-background {
  background-color: #cc8fc5;
  color: white;
}

.brown {
  color: #7d4600;
}

/* Footer */

footer {
  text-align: center;
}

footer h2 {
  font-size: 30px;
  padding: 50px;
  margin-bottom: 50px;
  line-height: 200%;
}

footer h2 a {
  text-decoration: none;
  color: black;
}

@media (max-width: 1024px) {
  footer h2 {
    font-size: 32px;
  }
}

@media (max-width: 540px) {
  footer h2 {
    font-size: 16px;
  }
}
